*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --colorUno: #53535342;
    --colorDos: #e2d784;
    --colorTres: #F5F5F5;
    --letra-color: #e9e9e9;
    --letra-fuente: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
}
.contenedorGral{
    height: 100vh;
    display: grid;
    grid-template-columns: 35px repeat(4, 1fr) 35px;
    grid-template-rows: 40px 40px repeat(4, 1fr);
}
.contenedorSection{
    height: 400px;
    width: 900px;
    background-color: var(--colorUno);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    grid-column: 3/5;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 10px #fff8;
}
.sectionImg{
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    right: 0;
}
.img-editable{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px #e9e9e9);
}
.sectionCard{
    height: 400px;
    width: 500px;
    display: grid;
    overflow: hidden;
    grid-template-rows: 80px 1fr;
}
.contenedorParrafos{
    height: 320px;
    width: 500px;
    display: flex;
    animation: parrafo 25s linear 10s infinite;
}
@keyframes parrafo {
    0%{
        transform: translateX(0%);
    }
    5%, 10%, 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%{
        transform: translateX(-160%);
    }
    55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95%, 100%{
        transform: translateX(0%);
    }
}
.contenedorParrafos:hover{
    animation-play-state: paused;
}
.sectionTextUno, .sectionTextDos{
    width: 500px;
    text-align: center;
    font-family: var(--letra-fuente);
    font-size: 22px;
    margin-top: 10px;
    padding: 0 10px;
    color: var(--letra-color);
}
.sectionTextDos{
    left: 160%;
    position: absolute;
}

