:root{
    --letra-fuente: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedorDos{
    height: 100vh;
    display: grid;
    grid-template-columns: 35px repeat(4, 1fr) 35px;
    grid-template-rows: 40px 40px repeat(4, 1fr);
}
.dosArticle{
    height: 500px;
    width: 900px;
    background-color: var(--colorUno);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
    grid-row: 2/6;    box-shadow: 0 0 10px #fff8;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #1c1c1c;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    height: 20px;
    background: rgba(0, 0, 0, 0.445);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(82, 82, 82, 0.466);
}
.box{
    position: relative;
    margin: 50px;
}
.box .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
.box .text h2{
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--letra-fuente);
}
.box .text small{
    font-size: 13px;
    display: block;
    font-family: var(--letra-fuente);
}
.circle{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle .points{
    width: 3px;
    height: 15px;
    background-color: #0007;
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i) * var(--rot))) translateY(-70px);
}
.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i) * 0.05s);
}
@keyframes glow {
    0%{
        background-color: #0007;
        box-shadow: none;
    }
    100%{
        background-color: var(--bgColor);
        box-shadow: 0 0 10px var(--bgColor);
    }
    
} 


/* Titulo Skills */

.dosTitle{
    width: 100%;
    display: flex;
    margin: 20px 0 0 0;
    justify-content: center;
    align-items: center;
    font-family: var(--letra-fuente);
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}