:root{
    --letra-fuente: Verdana, Geneva, Tahoma, sans-serif;
}
.ContenedorTres{
    height: 100vh;
    display: grid;
    grid-template-columns: 35px repeat(4, 1fr) 35px;
    grid-template-rows: 40px 40px repeat(4, 1fr);
}
.tresArticle{
    height: 450px;
    width: 900px;
    background-color: var(--colorUno);
    backdrop-filter: blur(4px);
    border-radius: 5px;
    grid-column: 3/5;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 5px 1fr;
    gap: 1rem;
    box-shadow: 0 0 10px #fff8;
}
.dosTitle{
    grid-row: 1/2;
    grid-column: 1/-1;
    font-family: var(--letra-fuente);
}
.lineaSeparador{
    grid-column: 1/-1;
}
.tresCard{
    height: 320px;
    width: 250px;
    align-self: center;
    justify-self: center;
    background-color: var(--colorUno);
    box-shadow: 0 0 5px #fff8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circulo{
    display: grid;
    place-items: center;
    position: relative;
    height: 140px;
    width: 140px;
    background-color: var(--colorUno);
    box-shadow: 0 0 5px #fff8;
    border-radius: 50%;
    overflow: hidden;
}
.circulo::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    box-shadow: 60px 6px 0 #fff8, -60px -6px 0 #fff8;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}
@keyframes loader {
    100%{
        transform: rotate(180deg);
    }
}
.circulo::after{
    content: "";
    position: absolute;
    background-color: var(--colorUno);
    box-shadow: 0 0 5px #fff8;
    inset: 22px;
    border-radius: 50%;
}

.circuloLoading{
    color: #fff8;
    font-family: var(--letra-fuente);
    font-size: 13px;
    animation: pulse .6s linear infinite alternate;
}
@keyframes pulse {
    to{
        transform: scale(1.2);
    }
}