.contenedorPie{
    grid-row: 6/-1;
    grid-column: 3/5;
    display: flex;
    justify-content: center;
    align-items: end;
}
.pieParrafo{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 0 15px 0;
}