@media (max-width: 768px) {

    body{
        overflow-y: auto;
    }
    .contenedorNav{
        display: none;
    }
    .contenedorGral{
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 60px 1fr 1fr 60px;
    }
    .contenedorSection{
        width: 95vw;
        height: 85vh;
        margin: 10px 0 0 0;
        grid-row: 1/4;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }
    .sectionCard{
        height: 100%;
        width: 74vw;
        grid-row: 2/3;
        grid-column: 1/3;
        margin: 0 auto;
    }
    .contenedorParrafos{
        margin: 10px 0 0 0;
    }
    .contenedorParrafos p {
        font-size: 20px;
    }

    .sectionImg{
        height: 250px;
        width: 250px;
        grid-row: 1/2;
        grid-column: 2/3;
        left: 50px;
    }
    .sectionTitle{
        text-align: start;
        font-size: 80px;
        grid-column: 1/2;
        grid-row: 1/2;
        position: absolute;
        left: 40px;
        top: 30px;
    }
    .sectionTitle:before, .sectionTitle:after{
	content: 'Enzo Peralta';
	position: absolute;
	transform: translate(-49%,-50%);
    z-index: -1;
}

.sectionTitle:before {
    position: absolute;
    z-index: -1;
	color: var(--color-1, .8);
	animation: distort1 var(--base-duration) linear infinite;
}

.sectionTitle:after {
    position: absolute;
    z-index: -1;
	color: var(--color-2, .8);
	animation: distort2 var(--base-duration) linear infinite;
}

	
@keyframes distort1 {
		0%    { top: 49.5%; left: 49.5%; }
		12.5% { top: 49.5%; left: 50%; }
		25%   { top: 49.5%; left: 50.5%; }
		37.5% { top: 50%; left: 50.5%; }
		50%   { top: 50.5%; left: 50.5%; }
		62.5% { top: 50.5%; left: 50%; }
		75%   { top: 50.5%; left: 49.5%; }
		87.5% { top: 50%; left: 49.5%; }
		100%  { top: 49.5%; left: 49.5%; }
}
	
@keyframes distort2 {
		0%    { top: 50.5%; left: 50.5%; }
		12.5% { top: 50%; left: 50.5%; }
		25%   { top: 49.5%; left: 50.5%; }
		37.5% { top: 49.5%; left: 50%; }
		50%   { top: 49.5%; left: 49.5%; }
		62.5% { top: 50%; left: 49.5%; }
		75%   { top: 50.5%; left: 49.5%; }
		87.5% { top: 50.5%; left: 50%; }
		100%  { top: 50.5%; left: 50.5%; }
}
    .contenedorRedes{ 
        grid-column: 3/5;
        grid-row: 4/5;
        justify-content: center;
        align-items: center;
    }
    .navList{
        flex-direction: row;
        margin: 0 40px 0 0;
    }
    .listItem::after{
        position: relative;
    }
    .listItem:hover::after{
        margin-right: -40px;
    }
    ul li figure{
        position: relative;
        left: 40px;
    }
    /* --------------------------------- */

    .dosArticle{
        grid-row: 1/7;
        grid-column: 1/7;
        width: 95vw;
        height: 100vh;
        margin: 0 auto;
        grid-template-rows: 1fr 1fr;
    }
    .box{
        margin-top: -10px;
    }
    .text{
        width: max-content;
        position: relative;
    }
    .dosTitle{
        margin: -15px auto 25px;
    }

    /* ------------------------------------ */

    .ContenedorTres{
        justify-items: center;
        margin: 40px 0 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 40px;
    }
    .tresArticle{
        grid-row: 1/2;
        grid-column: 1/-1;
        width: 95vw;
        height: 80vh;
        margin: auto;
        padding: 0 20px;
        grid-template-rows: 80px 1fr;
    }
    .dosTitle{
        width: 100%;
        margin: 0 auto;
    }
    .tresCard{
        grid-row: 2/3;
        height: 250px;
        width: 180px;
    }
    .contenedorPie{
        width: max-content;
        grid-row: 2/-1;
        grid-column: 1/-1;
        align-items: end;
    }
}