*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}

:root{
    --base-duration: 500ms;
    --color-1: #747474;
    --color-2: #000000;
	--letra-color: #e9e9e9;
}

.sectionTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
	font-weight: bold;
	color: var(--letra-color);
}
.sectionTitle:before, .sectionTitle:after{
	content: 'Enzo Peralta';
	position: absolute;
	transform: translate(-97%,-274%);
    z-index: -1;
}

.sectionTitle:before {
    position: absolute;
    z-index: -1;
	color: var(--color-1, .8);
	animation: distort1 var(--base-duration) linear infinite;
}

.sectionTitle:after {
    position: absolute;
    z-index: -1;
	color: var(--color-2, .8);
	animation: distort2 var(--base-duration) linear infinite;
}

	
@keyframes distort1 {
		0%    { top: 49.5%; left: 49.5%; }
		12.5% { top: 49.5%; left: 50%; }
		25%   { top: 49.5%; left: 50.5%; }
		37.5% { top: 50%; left: 50.5%; }
		50%   { top: 50.5%; left: 50.5%; }
		62.5% { top: 50.5%; left: 50%; }
		75%   { top: 50.5%; left: 49.5%; }
		87.5% { top: 50%; left: 49.5%; }
		100%  { top: 49.5%; left: 49.5%; }
}
	
@keyframes distort2 {
		0%    { top: 50.5%; left: 50.5%; }
		12.5% { top: 50%; left: 50.5%; }
		25%   { top: 49.5%; left: 50.5%; }
		37.5% { top: 49.5%; left: 50%; }
		50%   { top: 49.5%; left: 49.5%; }
		62.5% { top: 50%; left: 49.5%; }
		75%   { top: 50.5%; left: 49.5%; }
		87.5% { top: 50.5%; left: 50%; }
		100%  { top: 50.5%; left: 50.5%; }
}
