@import url("https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-gral);
}
body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
