.section--botton,
.proyecto__botton {
  position: relative;
  width: 160px;
  height: 45px;
  background-color: var(--fondo-modal-color);
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  /* z-index:; */
}

.section--botton::before, .proyecto__botton::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 168px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section--botton::after,
.proyecto__botton::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.section--botton:hover::after,
.proyecto__botton:hover::after {
  filter: blur(30px);
}

.section--botton:hover::before,
.proyecto__botton:hover::before {
  transform: rotate(-180deg);
}

.section--botton:active::before,
.proyecto__botton:active::before {
  scale: 0.7;
}
