.light-mode{
  background-color: #e2e2e2;
}
.hr-separador {
  border-color: var(--hr-color);
}
.proyecto__botton {
  color: var(--fuente-color);
  background-color: var(--fondo-modal-color);
}
.section--botton {
  background-color: var(--fondo-modal-color);
  color: var(--fuente-color);
}
.span--e {
  color: var(--fuente-color);
}
.section--subtitulo {
  color: var(--fuente-color);
}
.proyecto__parrafo {
  color: var(--fuente-color);
}
.proyecto__titulo {
  color: var(--fuente-color);
}
.ul--item {
  color: var(--fuente-color);
}
.section--titulo {
  color: var(--fuente-color);
}
.ul--icon-e {
  color: var(--fuente-color);
}
.habilidades__h1 {
  color: var(--fuente-color);
  border-bottom: 1px solid var(--fuente-color);
}
.habilidad__h3 {
  color: var(--fuente-color);
}
.contenedor__ul.scroll {
  background-color: var(--fondo-modal-color);
  outline: 1px solid var(--fuente-color);
  box-shadow: 0 0 5px var(--fuente-color);
}
.link-activo {
  border-bottom: 1px solid var(--fuente-color);
}
nav a:hover {
  text-shadow: 0 0 5px var(--fuente-color);
}
.footer__h3 {
  color: var(--fuente-color);
}
.sobreMi__h1 {
  color: var(--fuente-color);
  border-bottom: 1px solid var(--fuente-color);
}
.sobreMi__p {
  color: var(--fuente-color);
}
.proyecto__article {

  box-shadow: 1px 1px 4px #0000008f;
}
