
.contenedor__ul {
  height: 8vh;
  width: 97vw;
  margin: 10px 18px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  position: fixed;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  z-index: 1;
}
.contenedor__ul.scroll {
  background-color: var(--fondo-modal-color);
  outline: 1px solid #fff;
  box-shadow: 0 0 5px #fff;
}

.ul--item {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.link-activo {
  border-bottom: 1px solid var(--fuente-color);
}
.activo--efecto {
  color: #000;
}
.hr {
  height: 15px;
}
.ul--icon-e {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: var(--fuente-color);
  background-color: transparent;
  position: absolute;
  right: 96%;
  text-decoration: none;
}
.ul--button-tema {
  height: 25px;
  width: 25px;
  background-color: transparent;
  cursor: pointer;
}
.icon--img {
  height: 25px;
  width: 25px;
  display: flex;
  background-color: transparent;
}
a {
  background-color: transparent;
}
nav img:hover {
  filter: brightness(250%);
}
nav a:hover {
  text-shadow: 0 0 5px #fff;
}
