.contenedor__home {
  height: 100%;
  width: 100vw;
}
.home__section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor__img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.section--img{
  height: 180px;
  width: 180px;
  border-radius: 50%;
}
.section--titulo {
  font-size: 40px;
}
.span--e{
  font-family: "Protest Revolution", sans-serif;
  font-size: 55px;
}
.section--subtitulo {
  font-size: 28px;
  margin: 0 0 15px 0;
}
.section--botton {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
}
